<h1>Add a Museum to our Network:</h1>

<form action="/" method="post">
  <label for="name">Museum's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Museum</button>
</form>
