




<form class="form-group" action="/artwork/<%= @artwork.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input id="art_id" name="art_id" type="hidden" value="@artwork.id">

  <label for="title"><h3>Delete <%= @artwork.description %> from collection?</h3></label>
  <br>
  <button type="submit" class="btn btn-danger">Delete</button>

</form>



<hr>


<form action="/">
  <input type="submit" value="Home" style="height:2em; width:37em; margin: 2em 0em;">
</form>
