<h1>Art Collection's Network of Museums:</h1>
<table>

  <form action="/museum/new">
    <input type="submit" value="Add Museum" style="height:2em; width:22em">
  </form>


  <form action="/artwork/new">
    <input type="submit" value="Add Artwork" style="height:2em; width:22em; margin: 0em 0em 0em 2em;">
  </form>

</table>

<% if @museums.any?() %>
<p><h3>Select a Museum update info:</h3></p>

<ul>
  <% @museums.each do |museum| %>
  <li><a href="/museums/<%= museum.id() %>"><%= museum.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p><h3>There are currently no museums listed.</h3></p>
<p>Select Button above to add a Museum.</p>
<% end %>

<hr>

<% if @artworks.any?() %>
<p><h3>Select an Artwork update info:</h3></p>

<ul>
  <% @artworks.each do |artwork| %>
  <li><a href="/artworks/<%= artwork.id() %>"><%= artwork.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p><h3>There are currently no artworks listed.</h3></p>
<p>Select Button above to add a Art Piece.</p>
<% end %>
